:root{
    --primary-color: #ff6347; /* Couleur principale (orange) */
    --primary-hover-color: #ff4500; /* Couleur principale au survol */
    --secondary-color: #333; /* Couleur secondaire (texte sombre) */
    --background-color: #f4f4f4; /* Couleur de fond */
    --text-color: #333; /* Couleur du texte principal */
    --light-text-color: #666; /* Couleur du texte secondaire */
    --light-background-color: #f2f2f2; /* Fond clair */
    --footer-background-color: #000000; /* Fond du footer */
    --footer-text-color: #ccc; /* Texte du footer */
    --white: #fff; /* Blanc */
    --black: #000; /* Noir */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    min-height: 100vh;
    width: 100%;
}
.appointment-container{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
height: 100%;

}
.appointment-card{
    display: flex;
    height: 80%;
    width: 80%;
    border: 1px solid;
}
.image-container{
    width: 50%;
    background: url('../assets/images/home.jpg');
    background-position: center;
    background-size: cover;
}
.appointment-container{
    display: flex;
    /* flex-direction: column; */
    flex: 1;
}

.form-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.worker-info{
    /* border: 1px solid; */
}
.date-picker-group label{
    color: var(--light-text-color);
}
.date-picker-group input[type="date"]{
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid var(--primary-hover-color);
    border-style: dashed;
}
.cta-button{
    border-radius: 4px;
    color: #f2f2f2;
    background-color: var(--primary-color);
    border: none;
    padding: .8rem 2rem;
    margin: 2rem 0;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgb(0, 0, 0,.1);
    transition: all .3s ease;
}
.cta-button:hover{
    transform: translateY(2px);
    background-color: var(--primary-hover-color);
}